PORT=3000
NODE_ENV=development

MONGODB_URI=mongodb+srv://DATABASE_USER:DATABASE_PASSWORD@CLUSTER.mongodb.net/veb_agencija?retryWrites=true&w=majority&appName=Cluster0

# PayPal Sandbox
PAYPAL_ENV=sandbox
PAYPAL_CLIENT_ID=ovde_nalepi_sandbox_client_id
PAYPAL_CLIENT_SECRET=ovde_nalepi_sandbox_client_secret